<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <servlet>
        <servlet-name>CurrentTimeServlet</servlet-name>
        <servlet-class>CurrentTimeServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>RegistrationServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>LogInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrentTimeServlet</servlet-name>
        <url-pattern>/CurrentTime</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>AutorizationFilter</filter-name>
        <filter-class>AutorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AutorizationFilter</filter-name>
        <servlet-name>CurrentTimeServlet</servlet-name>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <jsp-config>
    <!-- JSTL Tag Library Local Descriptors -->
    <taglib>
        <taglib-uri>tags</taglib-uri>
        <taglib-location>/tld/TMILabledTextField.tld</taglib-location>
    </taglib>
    </jsp-config>

</web-app>